@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 35 100% 96%;
    --foreground: 24 9.8% 10%;
    --card: 35 100% 98%;
    --card-foreground: 24 9.8% 10%;
    --popover: 35 100% 98%;
    --popover-foreground: 24 9.8% 10%;
    --primary: 25 95% 53%;
    --primary-foreground: 35 9.8% 98%;
    --secondary: 35 91% 94%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 35 91% 94%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 35 92% 75%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 35 91% 88%;
    --input: 35 91% 88%;
    --ring: 25 95% 53%;
    --chart-1: 25 90% 55%;
    --chart-2: 15 85% 60%;
    --chart-3: 35 80% 65%;
    --chart-4: 45 75% 70%;
    --chart-5: 55 70% 75%;
    --radius: 0.5rem;
    --sidebar-background: 35 100% 98%;
    --sidebar-foreground: 24 5.3% 26.1%;
    --sidebar-primary: 25 95% 53%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 35 91% 94%;
    --sidebar-accent-foreground: 24 9.8% 10%;
    --sidebar-border: 35 91% 88%;
    --sidebar-ring: 25 95% 53%;
  }
  .dark {
    --background: 24 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 24 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 24 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 25 95% 53%;
    --primary-foreground: 35 9.8% 98%;
    --secondary: 24 4% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 24 4% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 35 92% 75%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 4% 14.9%;
    --input: 24 4% 14.9%;
    --ring: 25 95% 53%;
    --chart-1: 25 90% 55%;
    --chart-2: 15 85% 60%;
    --chart-3: 35 80% 65%;
    --chart-4: 45 75% 70%;
    --chart-5: 55 70% 75%;
    --sidebar-background: 24 5.9% 10%;
    --sidebar-foreground: 0 0% 95.9%;
    --sidebar-primary: 25 95% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 24 3.7% 15.9%;
    --sidebar-accent-foreground: 0 0% 95.9%;
    --sidebar-border: 24 3.7% 15.9%;
    --sidebar-ring: 25 95% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
